<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORDOVA</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>
<body>
    <!-- Header Section -->
    <section class="header">
        <div class="div2"> 
            <div class="div1">
            <input type="text" placeholder="Search Courses" name="search">
                  <button class="button">
                      <i class="fa fa-search" style="font-size: 18px; color:aliceblue;"></i>
  
                      </button>
                  </div>

        <ul class="header-icons">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fas fa-wifi"></i></a></li>
          </ul>
        </div>
        </section>


        <!-- Navbar  Section  -->
        <section class="nav">
            <nav>
                <ul class="nav">
                    <li><h1>Cordova</h1></li>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
            </nav>


        </section>

    <!-- main Section -->
    <section class="main">

        <div class="slider"></div>
        <div class="main-div">
            <button class="prev-btn"><i class="fas fa-angle-left"></i></button>
            <img class="img" src="images/th (3).jpg" alt="">
        </div>

        <button class="next-btn"><i class="fas fa-angle-right"></i></button>
        <div>
    </section>


    <!-- Contant Section -->
    <section class="Contant">

        <div class="div-icon"> 
            <div class="left">
            <div class="network-icon">
                <i class="fas fa-globe"></i>
                <span style="font-size: x-large; font-weight:900px;   padding:10px">About Cordova</span>
            </div>
        </div>

        <div class="center">
            <div class="center-1">
                <div class="comment-icon">
                    <i class='fas fa-comment' ></i>
                    <span style="font-size: x-large; font-weight:900px;  padding:10px">About Blog</span>
                </div>
        </div>

        <div class="right">
            <div class="right">
                <div class="check-icon" id="left-1">
                    <i class='fas fa-check' ></i>
                    <span style="font-size: x-large; font-weight:900px;   padding:10px">VIP Sign Up</span>
                </div>
        </div>
        </div>
        
        <div class="Contant-div">

            <div class="left-1">

                <div class="img-div" style="box-shadow: 6px 6px rgb(27, 27, 27);">
                    <img class="img" src="images/th (1).jpg" alt="">
                </div>
                <h1>All Aout Cordova</h1>
                <p class="overflow-container" style="box-shadow: 4px 4px rgb(27, 27, 27);">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Impedit voluptatem at cupiditate explicabo consequuntur 
                     ab excepturi quia....  </p><br>

                          <button class="btn">LEARN MORE <i class='fas fa-long-arrow-alt-right' style='font-size:20px;color:rgba(26, 24, 24, 0.781);margin:4px;'></i></button>

            </div>
            <div class="center-2">

                <div class="img-div-1" style="box-shadow: 6px 6px rgb(27, 27, 27);">
                    <img class="img" src="images/th (2).jpg" alt="">
                </div>

                <h1>Today's Update</h1>
                <p>Posted in <span style="color: aquamarine;">UPDATES</span> on july 13th, 2012</p>
                <p class="overflow-container" style="box-shadow: 4px 4px rgb(27, 27, 27);">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Impedit voluptatem at cupiditate explicabo consequuntur 
                    ab excepturi quia....</p>

                          <button class="btn">READ MORE <i class='fas fa-long-arrow-alt-right' style='font-size:20px;color:rgba(26, 24, 24, 0.781);margin:4px;'></i></button>

            </div>

            <div class="right-1">

                <div>
                    <p class="overflow-container" style="box-shadow: 4px 4px rgb(27, 27, 27);">Lorem ipsum dolor sit amet consectetur adipisicing elitImpedit voluptatem at cupiditate explicabo consequuntur..... 
                    
                    </p>
                    <input type="text" name="Name" placeholder="NAME">
                    <input type="email" name="Email" placeholder="EMAIL">
    
                    <button class="btn-1">READ MORE <i class='fas fa-long-arrow-alt-right' style='font-size:20px;color:rgba(26, 24, 24, 0.781);margin:4px;'></i></button>
                </div>

                <div class="icon-buttom">

                    <ul class="div-icons">
                        <li><a href="#"><i class="fab fa-twitter" style="color: aliceblue;"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook" style="color: aliceblue;"></i></a></li>
                        <li><a href="#"><i class="fas fa-wifi" style="color: aliceblue;"></i></a></li>
                        <li><a><i class='fab fa-amazon-pay' style='color:aliceblue'></a></i></li>
                        <li><a href="#"><i class='fab fa-app-store' style='color:aliceblue'></i></i></a></li>
                        
                      </ul>

                </div>
    
            </div>
    
            </div>
            
        </div>
    </section>

    <!-- Content-2 Section -->
    <section class="Content-2">

        <div class="Contant-buttom">
            
        <div class="Contant-buttom-left"> 
            <h4 class="texth">Pages</h4>
            <p class="pagenn">Page 1</p>
            <p class="pagen1">..................................</p>
            <p class="pagenn">Page 2</p>
            <p class="pagen1">..................................</p>
            <p class="pagenn">Page 3</p>
            <p class="pagen1">..................................</p>
            <p class="pagenn">Page 4</p>
        </div>
        <div class="Contant-buttom-center">
            <h4 class="texth">Categories</h4>
            <p class="pagenn">Categories 1</p>
            <p class="pagen2">..................................</p>
            <p class="pagenn">Categories 2</p>
            <p class="pagen2">..................................</p>
            <p class="pagenn">Categories 3</p>
            <p class="pagen2">..................................</p>
            <p class="pagenn">Categories 4</p>
        </div>
        <div class="Contant-buttom-center1">
            <h4 class="texth"> Quick Links</h4>
            <p class="pagenn">Quick Links1</p>
            <p class="pagen2">..................................</p>
            <p class="pagenn">Quick Links 2</p>
            <p class="pagen2">..................................</p>
            <p class="pagenn">Quick Links 3</p>
            <p class="pagen2">..................................</p>
            <p class="pagenn">Quick Links 4</p>
        </div>
        <div class="Contant-buttom-right">
            <h4 class="texth">contact Us</h4>
            <div class="icon-buttom1">

                <a><i class='fas fa-home' style='font-size:36px; color:aliceblue'></i></i></a>
                <p class="pagenn1n">123 Address, City, State, Zip Code</p>
            <p class="pagen2">..................................</p>
            </div>
            <div class="icon-buttom1">
                <a><i class='fas fa-phone-alt' style='font-size:30px; color:aliceblue'></i></i></a>
                <p class="pagenn1nn">Phone Number</p>
            <p class="pagen2">..................................</p>
            </div>
            <div class="icon-buttom1"> 
                <a><i class='fas fa-envelope-square' style='font-size:36px; color:aliceblue'></i></i></a>
                <p class="pagenn1">info@cordova123.com</p>
            </div>
        </div>
    
    </div>

        <!-- Footer Section -->
    <section class="Footer">


        <div class="Contant-buttom-left1">

            <p class="footer1" style="color: aliceblue;">wwwheritagechristiancollege.com</p>

        </div>

        <div class="Contant-buttom-right1">
            <p class="footer1n">log in &nbsp;&nbsp;|&nbsp;&nbsp; Privacy Policy&nbsp;&nbsp; | &nbsp;&nbsp;Terms and Conditions &nbsp;&nbsp;|&nbsp;&nbsp; Contact Us &nbsp;&nbsp;| &nbsp;&nbsp;Back to Top</p>
          </div>
          

    </section>

    
</body>
</html>