* {
    text-align: center;
   
}

.div1{
    float: left;
    margin-left: 170px;
    padding: 40px;
    border: none;
    border-radius: 4%;
    border: 6px solid rgb(129, 129, 87);
    box-shadow: 30px  25px 20px rgb(33, 45, 58);
}


.div2{
    float: right;
    margin-right: 146px;
    background-color: rgba(90, 107, 133, 0.788);
    padding: 40px;
    height: 65vh;
    color: aliceblue;
    border: none;
    border-radius: 4%;
    box-shadow: 9px  25px 20px rgb(51, 72, 80);
    background-image: url(img/th\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


input[type=text],
input[type=email],
input[type=textarea],
input[type=button] {
    padding: 10px; 
    margin: 8px;
    text-align: left;
    border: none;
    border-radius: 2%;
    font-weight: 700;
    background-image: url(img/th\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid purple;
}

input[type=textarea] {
    width: 95%;
    height: 15vh;
    text-align: left; 
}

input[type=button] {
    margin-right: 85%; 
    padding: 12px;
    width: 20%;
    font-weight: 700;
    background-color: rgba(37, 109, 216, 0.788);
    color: aliceblue;
}


.div3{
    padding: 6px; 
    margin: 8px;
    text-align: left;
    text-decoration: double;
    font-weight: 600;
}

.p{
    margin-left: 30px;
}

.form{
    background-color: rgb(207, 219, 219);
    border: 4%;
    height: 100vh;
    background-image: url(img/th.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    padding: 8px;
    margin: 20px;
    margin-top: 50px;
}