body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('th1.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
}

header {
    background-color: rgba(235, 158, 15, 0.8);
    width: auto;
    height: 13vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 30px;
    padding-left: 200px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav ul li a:hover {
    background-color: #ffffff07;
}

.h4 {
    color: aliceblue;
    margin-left: 200px;
    padding-top: 20px;
}

.p {
    color: rgba(240, 248, 255, 0.603);
    margin-left: 200px;
    padding-bottom: 20px;
    margin-bottom: 80px;
    font-size: smaller;
}

.signup-button {
    background-color: rgba(235, 158, 15, 0.8);
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 4px;
    cursor: pointer;
    border-radius: 50px;
}

.img {
    width: 90px;
    height: 50px;
    padding-bottom: -550px;
    padding-top: 0px;
    padding-right: 350px;
    
}
.h3 {
    color: aliceblue;
    margin-left: 50px;
    padding-top: 20px;
    text-align: center;
}

.p1 {
    color: rgba(240, 248, 255, 0.603);
    margin-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 80px;
    font-size: small;
    text-align: center;
}
.div{
    width: 20px;
    height: 30px;
    color: aliceblue;
}

/* Existing CSS styles */

.row {
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap to the next line if needed */
    justify-content: space-around; /* Distribute the items evenly along the main axis */
}

.column {
    flex: 0 1 calc(25% - 20px); /* Each column takes up 25% of the available space (minus margins) */
    padding: 1px;
    border: 1px solid #ccc;
    margin: 5px;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.226);
    height: 40vh;
    border: none;
}

.img1 {
    width: 40px;
    height: 40px;
    margin-left: 20px; 
    margin-right: auto;
    display: block;
    margin-top: 15px;
}

.signup-button1 {
    background-color: rgba(235, 158, 15, 0.8);
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 10px auto; /* Center the button */
    border-radius: 50px;
    width: 70%; /* Set the button width */
    font-size: smaller;
}
